*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
    margin-bottom: 0px;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    margin:0;
    padding-left: 30px;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}



.user-profile {
    margin-left: 20px;
    
}

.user-profile a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px 0px 0px;
    
}
/* heading */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}
.line_1{
    background-color: red;
    height: 4px;
    width: 80px;
    margin: 10px;
}
.line_2{
    background-color: green;
    height: 4px;
    width: 80px;
    margin: 10px;
}

/* section */
section{
    padding:0px 10px ;
}
/* footer */

footer{
    margin-top: 11px;
    background-color: #333;
    padding: 1rem;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}