body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

.header {
  /* background: #2d6a4f; */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.plan-card {
  background: white;
  width: 280px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.plan-card.popular {
  border: 2px solid #2d6a4f;
  /* background-color: #333; */
}

.price {
  font-size: 28px;
  color: #2d6a4f;
  /* background-color: #333; */
  margin: 15px 0;
}

.duration {
  color: #666;
  margin-bottom: 20px;
}

.plan-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.plan-card button {
  width: 100%;
  padding: 10px;
  /* background: #2d6a4f; */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plan-card button:hover {
  /* background: #1b4332; */
  background-color: #333;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  /* background: #2d6a4f; */
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
